
.img{
   
    width:10px;
    height: 30px;
    }


.add{
    display: inline-block;
    color: rgb(15, 14, 15);
    font-weight: bold;
    font-family: Georgia, serif;
    font-size: 35px;
    margin-right: -5px;
    margin-top: 20px;
    opacity: 70px;
}